<h2>Posts</h2>
<div id="searchArea">
  <label for="postSearch">Search:</label>
  <input id="postSearch" [(ngModel)]="searchTerm">
</div>
<ul id="postList" *ngIf="posts">
  <li *ngFor="let post of posts">
    <div *ngIf="searchTerm === '' || checkPost(post)" class="postbox" (click)="openPost(post.id)">
      {{post.title}} ({{post.commentCount}} Comments)
      <div class="body" *ngIf="post.showComments">
        <p class="indent">{{post.body}}</p>
        <ul class="indent" *ngIf="post.comments">
          <h3>Comments</h3>
          <li *ngFor="let comment of post.comments">
            <p>{{comment.name}} - {{comment.email}}</p>
            <p>{{comment.body}}</p>
            <hr/>
          </li>
        </ul>
      </div>
    </div>
  </li>
</ul>
